.arial-helvetica{
    font-family: Arial, Helvetica, sans-serif;
}

.arial-black-gadget {
    font-family: 'Arial Black', Gadget, sans-serif;
}

.bookman-old-style {
    font-family: 'Bookman Old Style', serif;
}

.comic-sans-MS-cursive {
    font-family: 'Comic Sans MS', cursive;
}

.courier-monospace {
    font-family: Courier, monospace;
}

.courier-new-monospace {
    font-family: 'Courier New', Courier, monospace;
}

.garamond-serif {
    font-family: Garamond, serif;
}

.georgia-serif {
    font-family: Georgia, serif;
}

.impact-charcoal {
    font-family: Impact, Charcoal, sans-serif;
}

.lucida-console-monaco {
    font-family: 'Lucida Console', Monaco, monospace;
}

.lucida-sans-unicode-grande {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.MS-sans-serif-geneva {
    font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.MS-serif-new-york {
    font-family: 'MS Serif', 'New York', sans-serif;
}

.palatino-linotype-antiqua {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.symbol-sans-serif {
    font-family: Symbol, sans-serif;
}

.tahoma-geneva-sans-serif {
    font-family: Tahoma, Geneva, sans-serif;
}

.times-new-roman-serif {
    font-family: 'Times New Roman', Times, serif;
}

.trebuchet-MS-Helvetica {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.verdana-geneva-sans-serif {
    font-family: Verdana, Geneva, sans-serif;
}

.webdings-sans-serif {
    font-family: Webdings, sans-serif;
}

.wingdings-zapf-dingbats {
    font-family: Wingdings, 'Zapf Dingbats', sans-serif;
}
